* {
    box-sizing: border-box;
  }

body,
html {
    height: 100%;
    font-family: 'Gloock', 'Times New Roman', serif;
    color: white;
    background-color: #000000;
    background-size: cover;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin: 0;
  }

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.38),rgba(0, 0, 0, 0)), url("images/kitchen.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    background-color: #000000;
}

.header {
    display: flex;
    background-color: #000000;
    margin: 0;
    justify-content: space-between;
    padding: 20px 100px;
}

.hero {
    display: flex;
    padding: 100px 150px;
    gap: 100px;
    justify-content: center;
}

.texts {
    display: flex;
    flex-direction: column;
    flex-basis: 45em;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.7);
    border: 3px solid #f1f1f1;
    padding: 24px;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
}

.sec-text {
    display: flex;
    padding-top: 16px;
    font-size: 18px;
    justify-items: center;
}

.sign-up {
    display: inline-block;
    background-color: #A35E35;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 15px 40px;
    color: #F9FAF8;
    margin-top: 10px;
    font-weight: 700;
    cursor: pointer;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    color: #A35E35;
    display: flex;
    align-items: center;
}
  
.forkspoon {
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
}
  
.top-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
ul {
    list-style-type: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
  
.header ul li:hover {
    background-color: #A35E35;
    padding: 6px;
    border-radius: 10px;
}
  
.header ul li a:hover {
    color: white;
}

.sign-up button a:hover {
    color: #ce5e1e;
}
  
.header ul li::after{
    content:'';
    height: 4px;
    width: 0;
    background: #A35E35;
    left: 0;
    bottom: -10px;
    transition: 0.5s
}
  
.header ul li:hover::after{
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 64px;
}

.title {
    margin: 32px;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-con {
    display: flex;
    gap: 48px;
    margin-left: 48px;
    margin-right: 48px;
    padding-top: 16px;
}

.food-con img {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 18px;
}